---
title: Archive
layout: page
permalink: archive
---
<!--
<h3>Tags - <a href="#personal">Personal</a>, <a href="#technical">Technical</a>, <a href="#notes">Book Notes</a></h3>
-->


<hr>

<!-- <h3 id="personal">Posts</h3> -->

<!-- <ul>
{% for post in site.posts %}
	{% if post.tags contains 'personal' or post.tags contains 'technical' %}
		{% assign currentdate = post.date | date: "%B %Y" %}
		{% if currentdate != date %}
		</ul>
			{{ currentdate }}
		<ul>
			{% assign date = currentdate %} 
		{% endif %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
</ul> -->

<ul>
{% for post in site.posts %}
	{% assign currentdate = post.date | date: "%B %Y" %}
	{% if currentdate != date %}
	</ul>
		{{ currentdate }}
	<ul>
		{% assign date = currentdate %} 
	{% endif %}
	{% if post.tags contains 'notes' %}
		{% continue %}
	<!-- <li><a href="{{ post.url }}">[Book Notes] {{ post.title }}</a></li> -->
	{% else %}
	<li><a href="{{ post.url }}">{{ post.title }}</a> 
		{% if post.tags contains 'personal' %}
		{% else %}
			<span class="span-class-archive"> 	{{ post.tags }}
			</span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<!-- <br> -->
<hr>

<h3 id="notes">Book Notes</h3>
Below are some of the notes I've saved while reading the books/essays.
<!-- <br> -->
<ul>
  {% for post in site.posts %}
  {% if post.tags contains 'notes' %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
   {% endif %}
  {% endfor %}
</ul>