---
title: Poorly Thoughtout Life
layout: page
permalink: blog
---

<img src="images/blog.png" style="max-width:100%;">
<br>
Hey! I write essays on self-improvement, careers, startup and tech. Occassionally I also delve into fiction or collecting songs. There's no order in these posts (although the essays on life are my favourite) so I suggest reading any title that interests you! 
<br>
<br>
<span style="color: maroon"><i>(new)</i></span> are posts I've written this month. Sort by date to see listed in chronological order.
<hr>

<div style="float:right">
	<button class="button-2" id="toggleButton">Sort by Date</button>
</div>

<div id="div1">

<!-- <br> -->
{% assign current_month = site.time | date: "%m %y" %}
<b>Personal</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'career' or post.tags contains 'life' or post.tags contains 'self-improvement' %}
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<b>Analogies with Life</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'analogy' %}
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>


<b>Technical Articles</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'technical' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>


<b>Startups</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'startup' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<b>Writing</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'writing' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<b>Songs</b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'songs' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<b>Conversations With Friends</b>: Inspired by Sally Rooney's characters, I find myself writing long-form emails to my friends, some of which I share here.
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'letter' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>

<b>Misc</b>
{% for post in site.posts %}
	{% if post.tags contains 'misc' %}	
	 · <a href="{{ post.url }}">{{ post.title }}</a> 
	 	{% assign post_month = post.date | date: "%m %y" %}
		{% if post_month == current_month %}
			<span style="color: maroon"><i>(new)</i></span> 
		{% endif %}
	{% endif %}
{% endfor %}
</div>

<div id="div2" class="hidden">
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'book' %}
		{% continue %}
	{% else %}
	{% assign currentdate = post.date | date: "%B %Y" %}
	{% if currentdate != date %}
	</ul>
		{{ currentdate }}
	<ul>
		{% assign date = currentdate %} 
	{% endif %}
	
	<!-- <li><a href="{{ post.url }}">[Book Notes] {{ post.title }}</a></li> -->
	
	<li><a href="{{ post.url }}">{{ post.title }}</a> 
		{% if post.tags contains 'personal' %}
		{% else %}
			<span class="span-class-archive"> 	{{ post.tags }}
			</span>
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
</div>

<script>
document.getElementById('toggleButton').addEventListener('click', function() {
	var div1 = document.getElementById('div1');
	var div2 = document.getElementById('div2');

	div1.classList.toggle('hidden');
	div2.classList.toggle('hidden');

	var elem = document.getElementById('toggleButton');
	console.log(elem);

	if(elem.textContent == "Sort by Category"){
		elem.textContent = "Sort by Date";
	}
	else{
		elem.textContent = "Sort by Category";
	}
});
</script>