---
title: Poorly Thoughtout Life
layout: page
permalink: blog
---
<img src="images/blog.png" style="max-width:100%;">
<br>
I write about growing up, self-improvement, and general thoughts about life and career. Indexed below are all of my essays. The delightful part of maintaining a personal blog is the sudden thrill of writing down an original thought in the notes app, hoping it would someday appear on the blog, and I’ll share it with friends.
<br>
<br>
Visit <a href="/archive">Archive</a> to see listed in chronological order.
<hr>

<b><u>Personal</u></b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'personal' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
</ul>

<b><u>Technical</u></b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'technical' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
</ul>


<b><u>Startups</u></b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'startup' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
</ul>

<b><u>Writing</u></b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'writing' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
</ul>

<b><u>Songs</u></b>
<ul>
{% for post in site.posts %}
	{% if post.tags contains 'songs' %}	
	<li><a href="{{ post.url }}">{{ post.title }}</a> </li>
	{% endif %}
{% endfor %}
</ul>