
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

@font-face{
	font-family: 'Product Sans';
	src: url('ProductSansRegular.ttf') format('truetype');
}

/*.container-fluid {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/


h1, h2, h3 {
	margin: 0;
	padding: 5px 0px 5px 0px;
	font-weight: normal;
	/*color: #1f4a91;*/
}

h1 {
	font-size: 4em;
	/*font-family: Product Sans */
}

 #special1 {
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 100px;
    /*width: 75%;*/
    overflow-y: scroll; 
  }

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#special2 {
    position: absolute;
    /*top: ;*/
    /*bottom: 0;*/
    left: 100px;
    /*overflow-y: scroll;*/
    /*width: 25%;*/
  }
h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2em;
	color: #0375B4;

}
h4 {
	font-size: 1.8em;
	color: #07889B;
	display: inline-block;
}

h5{
	font-size: 1.5em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

ul, ol {
}



/* Header */


div.blockabstract {
	display: none;
	padding:1em;	     
	margin-top:1em;
	margin-right:5em;
	margin-left:3em;
	text-align: justify;
	border: dashed thin #A9A9A9;
}

div.publiauthor {
	color: black;
}
div.publititle {
	color: red;
}
div.publibook {
	color: black;
}
div.pdflinks{
	color:blue;
}
div#pdflinks a{
	color:blue
}

/*div#social{
	width: 100%;
	max-width: 300px;
}*/
img.social{
	width: 15%;
	max-width: 50px;
	/*position: relative;*/
}

div#socialmedia{
	position: relative;
}

img.me{
	height:100%;
	width:100%;
	max-width: 300px;
	border-radius: 10%; 
	/*margin-top: 100px;*/
	position: sticky;
}

#firstname{
	color: #0375B4;
	/*color: #E37222;*/
}

#lastname{
	color: #262228;
}

a {
	/*text-decoration: underline;*/
	/*color: #1f4a91;*/
	/*color: #0375B4;*/
	color:#007849;
	/*color: #07889B;*/
}

a:hover {
	color: #1f4a91;
	text-decoration: none;
}

h3 {
	font-size: 2em;
	color: #0375B4;
}

body {
	margin: 30px 0px 0px 0px;
	padding: 0;
	background: #FFFFFF;
	font-family: Product Sans;
	font-size: 13px;
	/*font-color: #262228;*/
	color: #262228;
	/*overflow: hidden;*/
  	/*height:100%;*/
}

.contact .contact-title {
  position: relative;
  color: #333030;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-align: center;
}

.contact .contact-title::before {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #515151;
}

.contact .contact-title::after {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #515151;
}

.contact ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-block;
  margin-left: 10px;
}

.contact ul li:first-child {
  margin-left: 0;
}

.contact ul li a {
  color: #515151;
  display: block;
  padding: 5px;
  font-size: 18px;
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.contact ul li a:hover {
  color: #333030;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.fab {
	color : #0375B4;
}
