Tags: <button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #000000;" data-tag="all">all</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #2ECC71;" data-tag="personal">personal</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #566573;" data-tag="startup">startup</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #F39C12;" data-tag="technical">technical</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #2E86C1;" data-tag="fiction">fiction</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #E74C3C;" data-tag="song">song</button>,
<button class="btn-tag filter-btn" style="background-color: #EAEDED; color: #7D3C98;" data-tag="book">book</button>
<!-- <button class="btn-tag filter-btn" style="background-color: #EAEDED; color: ;" data-tag="recommendation">recommendation</button> -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  var buttons = document.querySelectorAll(".btn-tag");
  
  buttons.forEach(function(button) {
    button.addEventListener("click", function() {
      var tag = this.getAttribute("data-tag");
      console.log(tag);
      var url = "/tag/" + tag + "/"; // Adjust the URL format as needed
      window.location.href = url;
    });
  });
});
</script>