@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;0,600;1,400&display=swap');
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/*@font-face{*/
	/*font-family: 'Product Sans';*/
	/*src: url('ProductSansRegular.ttf') format('truetype');*/
/*}*/

/*.container-fluid {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/

.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 130px; 
  box-shadow: 0 0 0 2px rgb(200, 200, 200);
}

.hidden {
  display: none;
}

.btn-tag {
  border-radius: 20px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  border: 0px;
}

.span-class-tag {
  border-radius: 20px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
}

.span-class-all {
  background-color: #EAEDED;
  color: #000000; 
}

.span-class-personal {
  background-color: #EAEDED;
  color: #2ECC71;
}

.span-class-startup {
  background-color: #EAEDED;
  color: #E74C3C;
}

.span-class-technical {
  background-color: #EAEDED; 
  color: #F39C12;
}

.span-class-book {
  background-color: #EAEDED; 
  color: #7D3C98;
}

.span-class-fiction {
  background-color: #EAEDED; 
  color: #2E86C1;
}

.span-class-recommendation {
  background-color: #EAEDED; 
  color: #566573;
}

.a-class-red {
  background-color:#F5B7B1; 
  border-radius: 10px;
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  padding: 4px; 
  color:black;
  margin-left: 2px;
  margin-right: 2px;
}

.a-class-yellow {
  background-color:#F9E79F; 
  border-radius: 10px;
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  padding: 4px; 
  color:black;
  margin-left: 2px;
  margin-right: 2px;
}

.a-class-blue {
  background-color:#AED6F1; 
  border-radius: 10px;
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  padding: 4px; 
  color:black;
  margin-left: 2px;
  margin-right: 2px;
}

.a-class-green {
  background-color:#ABEBC6; 
  border-radius: 10px;
  /*padding-left: 4px;*/
  /*padding-right: 4px;*/
  padding: 4px; 
  color:black;
  margin-left: 2px;
  margin-right: 2px;
}

.newsletter {
padding: 80px 0;
background: #f2f2f2;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px; 
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}

.newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: #243c4f;
  color: #fff;
  font-weight:600;
}

.pagination-wrapper {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0 0 2rem;
}

.pagination a,
.pagination span {
  border-radius: 3px;
  float: left;
  height: 36px;
  line-height: 36px;
  width: 30px;
}

a.pagination-step,
span.pagination-step {
  padding: 0 10px;
  width: auto;
}

.pagination-first,
.pagination-last,
.pagination-more, {
  display: none;
}

.pagination .active {
  background: #ddd;
  color: #fff;
}

@media (min-width: 38em) {
  .pagination-first,
  .pagination-last,
  .pagination-more {
    display: block;
  }

  a.pagination-step,
  span.pagination-step {
    padding: 0 15px;
    width: auto;
  }
}

body {
  background-color: #fff;
  padding:0px;
  font: 20.0px/1.5 Crimson Pro, serif; 
  color:#000;
  font-weight:400;
  margin:0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color:#043361;
  margin:0 0 8px;
}

@media (prefers-color-scheme: dark) {
  h1, h3, h4, h5, h6 {
    color:rgb(62, 183, 240);
  }

  h2 {
    color:rgb(62, 183, 240);
  }
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h3.post-list {
  /*margin-top: 1px;*/
  margin: 0;
}

h5.post-list {
  /*margin-top: 1px;*/
  margin: 0;
  color: grey;
}

h1, h2 {
  line-height:1.1;
}

h1 {
  font-size:36px;
}

.icons {
  color:#262228; 
  text-decoration:none;
}

.icons:hover {
  color:#069;
}

ul.nav {
  list-style-type: none;
  margin-left:auto;
margin-right:auto;
  /*margin: 0;*/
  /*padding: 0;*/
  overflow: hidden;
  text-align:center;
}

a {
  color:#2471A3; 
  text-decoration:none;
}

a:hover {
  color:#000;
}

@media (prefers-color-scheme: dark) {
  a {
    color:rgb(62, 183, 240);
  }
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:960px;
  margin:0 auto;
  padding-top:3.0em;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
  color: grey;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  max-width:500px;
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

dt {
  color:#444;
  font-weight:500;
}

th {
  color:#444;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}


 #special1 {
    position: absolute;
    top: 150px;
    bottom: 0;
    right: 100px;
    /*width: 75%;*/
    overflow-y: scroll; 
  }

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#special2 {
    position: absolute;
    /*top: ;*/
    /*bottom: 0;*/
    left: 100px;
    /*overflow-y: scroll;*/
    /*width: 25%;*/
  }


p, ul, ol {
	margin-top: 0;
	line-height: 150%;
}

ul, ol {
}

.date {
  color: #4847F6;
  background-color: #E8EAED;
  padding: 6px;
  border-radius: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/* Header */


div.blockabstract {
	display: none;
	padding:1em;	     
	margin-top:1em;
	margin-right:5em;
	margin-left:3em;
	text-align: justify;
	border: dashed thin #A9A9A9;
}

div.publiauthor {
	color: black;
}
div.publititle {
	color: red;
}
div.publibook {
	color: black;
}
div.pdflinks{
	color:blue;
}
div#pdflinks a{
	color:blue
}

/*div#social{
	width: 100%;
	max-width: 300px;
}*/
img.social{
	width: 15%;
	max-width: 50px;
	/*position: relative;*/
}

div#socialmedia{
	position: relative;
}

img.me{
	height:100%;
	width:100%;
	max-width: 300px;
	border-radius: 10%; 
	/*margin-top: 100px;*/
	position: sticky;
}

#firstname{
	color: #0375B4;
	/*color: #E37222;*/
}

#lastname{
	color: #262228;
}


.contact .contact-title {
  position: relative;
  color: #333030;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 5px;
  text-transform: uppercase;
  text-align: center;
}

.contact .contact-title::before {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #515151;
}

.contact .contact-title::after {
  content: "";
  display: block;
  height: 2px;
  width: -webkit-calc(50% - 48px);
  width: calc(50% - 48px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #515151;
}

.contact ul {
  margin: 10px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.contact ul li {
  display: inline-block;
  margin-left: 10px;
}

.contact ul li:first-child {
  margin-left: 0;
}

.contact ul li a {
  color: #515151;
  display: block;
  padding: 5px;
  font-size: 18px;
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.contact ul li a:hover {
  color: #333030;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.fab {
	color : #0375B4;
}

.codechef-purple{
  color:#684273;
}

.codechef-yellow{
  color:#FFBF00;
}

.codeforces-purple{
  color:#a0a;
}