---
layout: default
---

<div id="home" class="container-fluid">
	<div class="row"> 
		<div class="col-md-3">  
		</div>
		<div class="col-md-6">
			<div style="margin-top:80px">
			<center>
				<div style="font-size: 60px"><span id="lastname">{{ page.title }}</span></div>
			</center>
			<div style="margin-top:40px">
			{{ content }}

			<hr>
			<div style="margin-top:40px">
			<center>
				{% include subscribe.html %}
			</center>
			<div style="margin-bottom:40px">
		</div>
		<div class="col-md-3">  
		</div>
	</div>
</div>

