---
layout: default
---

<div id="home" class="container-fluid">
	<div class="row"> 
		<div class="col-md-4">  
		</div>
		<div class="col-md-4">
			<div style="margin-top:60px"></div>
			<center>
				<div style="font-size: 60px"><span id="lastname">{{ page.title }}</span></div>
			</center>

			<hr>

			{% include filter_by_tags.html %}

			<ul>
			{% for post in site.posts %}
				{% if post.tags contains page.tags[0] or page.tags[0] == "all" %}
					{% assign currentdate = post.date | date: "%B %Y" %}
					{% if currentdate != date %}
					</ul>
						<h4>{{ currentdate }}</h4>
					<ul>
						{% assign date = currentdate %} 
					{% endif %}
					
					<li data-tags="{{ post.tags }}"><a href="{{ post.url }}">{{ post.title }}</a> 
						<span class="span-class-tag span-class-{{ post.tags }}">{{ post.tags }}</span>
					</li>
				{% endif %}
			{% endfor %}
			</ul>

			<hr>
			<div style="margin-top:40px">
			<center>
				{% include subscribe.html %}
			</center>
			</div>
			<div style="margin-bottom:40px">
			</div>
		</div>
		<div class="col-md-4">  
		</div>
	</div>
</div>

